/* GRID E CARDS */
.grid {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
}

.card {
    background: #2c2f34;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 10px;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
}

.card-description {
    font-size: 14px;
    color: #ddd;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.979);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    padding: 20px;
    text-align: center;
    overflow-y: auto;
}

.modal img {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 10px;
    margin: auto;
}

.modal-title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.modal-content {
    display: flex;
    gap: 10px;
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
}

.modal-description {
    color: #ccc;
    margin-top: 10px;
    font-size: 15px;
    max-width: 800px;
    line-height: 1.4;
}

.modal-description.strong {
    color: #fff;
    font-weight: 500;
    margin-top: 15px;
}

.modal-functionalities {
    list-style: disc inside !important;
    color: #eee !important;
    margin: 0 auto !important;
    max-width: 800px;
    text-align: left;
    font-size: 14px;
    padding-left: 20px !important;
}

.modal-description-container {
    text-align: start;
    width: 60%;
}

.modal button {
    position: fixed;
    background: none;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    background-color: #ff6600;
    padding: 5px 10px;
    border-radius: 10px;
}

ul {
  list-style-type: disc;
  margin: 0;
  color: #eee;
}
.close-btn {
    top: 20px;
    right: 30px;
}

.prev-btn,
.next-btn {
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

.prev-btn {
    left: 30px;
}

.next-btn {
    right: 30px;
}

/* RESPONSIVO */

/* 1024px */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .card img {
        height: 160px;
    }

    .modal-description-container {
        margin-top: 50px;
        width: 70%;
    }
}

/* 768px */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        padding: 15px;
        gap: 8px;
    }

    .card img {
        height: 150px;
    }

    .modal-content {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .modal-description-container {
        width: 90%;
        text-align: center;
    }

    .modal img {
        max-height: 60vh;
    }
}

/* 480px */
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 10px;
    }

    .card img {
        height: 140px;
    }

    .modal {
        align-items: flex-start;
        justify-content: flex-start;
        padding: 15px;
    }

    .modal-content {
        flex-direction: column-reverse;
        align-items: flex-start;
        max-width: 100%;
        margin: 0 33px;
    }

    .modal-description {
        font-size: 14px;
    }

    .modal img {
        max-height: 100vh;
        width: 100%;
        margin-bottom: 15px;
    }

    .modal-title {
        font-size: 18px;
    }

    .modal button {
        font-size: 26px;
    }

    .modal-description-container {
        width: 95%;
    }

    .close-btn {
        right: 15px;
        top: 15px;
    }

    .prev-btn {
        left: 15px;
        font-size: 30px;
    }

    .next-btn {
        right: 15px;
        font-size: 30px;
    }
}